<p-table [value]="records">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Escolaridade
      <div class="p-toolbar-group-right">
        <p-button (click)="createNewRecord()" icon="pi pi-plus"></p-button>
        <p-button (click)="loadReloadRecords()" class="ml-2" icon="pi pi-refresh"></p-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Instituição</th>
      <th>Curso</th>
      <th>Título</th>
      <th>Duração</th>
      <th>Inicio</th>
      <th>Conclusão</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-scholarity>
    <tr>
      <td>
        <div class="sizes">
          <p-button label="Editar" (click)="editRecord(scholarity)" icon="pi pi-check" styleClass="p-button-sm"></p-button>
          <p-button label="Excluir" (click)="deleteRecord(scholarity)" class="ml-2" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"></p-button>
        </div>
      </td>
      <td>{{scholarity.schoolName}}</td>
      <td><img [src]="server + '/files/scholarity/'+ scholarity.uuid + '/' + scholarity.pathOfImageThumb" width="100" class="shadow-4" /></td>
      <td>{{scholarity.titleReceivedCourse}}</td>
      <td>{{scholarity.duration}} h</td>
      <td>{{scholarity.startDate | date: 'MM/yyyy'}}</td>
      <td>{{scholarity.dateOfConclusion | date: 'MM/yyyy'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total de registros {{records ? records.length : 0 }}.
    </div>
  </ng-template>
</p-table>

<!-- Conteúdo -->

<p-dialog [(visible)]="formDisplay" [maximizable]="true" [closeOnEscape]="true" [modal]="true"
          [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
  <div class="text-center" *ngIf="loadingDialog">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="header">
    {{record.id === undefined ? 'Novo registro' : 'Alterar registro'}}
  </ng-template>
  <div *ngIf="!loadingDialog">
    <div class="field">
      <label for="schoolName" class="block">Nome da instituição</label>
      <input id="schoolName" type="text" style="width: 100%" aria-describedby="schoolName-help" pInputText [(ngModel)]="record.schoolName"  />
    </div>
    <div class="field">
      <label for="courseName" class="block">Nome do curso</label>
      <input id="courseName" type="text" style="width: 100%" aria-describedby="courseName-help" pInputText [(ngModel)]="record.courseName" />
    </div>
    <div class="field">
      <label for="titleReceivedCourse" class="block">Título do curso</label>
      <input id="titleReceivedCourse" type="text" style="width: 100%" aria-describedby="titleReceivedCourse-help" pInputText [(ngModel)]="record.titleReceivedCourse" />
    </div>
    <div class="field">
      <label for="duration" class="block">Duração em horas</label>
      <input id="duration" type="text" style="width: 100%" aria-describedby="duration-help" pInputText [(ngModel)]="record.duration" />
    </div>
    <div class="field">
      <label for="startDate" class="block">Data de inicio</label>
      <input style="width: 100%" min="1990-01" max="3000-12" pInputText [(ngModel)]="record.startDate" type="month" id="startDate" name="startDate">
    </div>
    <div class="field">
      <label for="dateOfConclusion" class="block">Data de conclusão</label>
      <input style="width: 100%" min="1990-01" max="3000-12" pInputText [(ngModel)]="record.dateOfConclusion" type="month" id="dateOfConclusion" name="dateOfConclusion">
    </div>
    <p-fileUpload #fileUpload name="file" (onSelect)="setFile($event, fileUpload)"
                  accept="image/*" [maxFileSize]="1000000" [showUploadButton]="false" [showCancelButton]="false" [chooseLabel]="'Selecionar arquivo'">
      <ng-template pTemplate="content">
        <img *ngIf="record.id" [src]="server + '/files/scholarity/'+ record.uuid + '/' + record.pathOfImageThumb" height="80" />
        <ul *ngIf="file?.target?.length">
          <li *ngFor="let file of file?.target?.files">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="footer" class="text-right">
    <button (click)="saveRecord()" pButton type="button" label="Salvar" ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
