<div class="text-center" *ngIf="loadingPage">
  <p-progressSpinner></p-progressSpinner>
  <p>Carregando...</p>
</div>
<p-table #table *ngIf="!loadingPage" [value]="records" dataKey="id"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loadingPage"
         [paginator]="true" currentPageReportTemplate="Mostrando registro {first} até {last} de {totalRecords} registros"
         [globalFilterFields]="['name','description']">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Softwares
      <div class="p-toolbar-group-right">
        <p-button (click)="createNewRecord()" icon="pi pi-plus"></p-button>
        <p-button (click)="loadReloadRecords()" class="ml-2" icon="pi pi-refresh"></p-button>
        <button pButton label="Clear" class="p-button-outlined ml-2" icon="pi pi-filter-slash" (click)="clear(table)"></button>
        <span class="p-input-icon-left ml-2">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="search" (input)="table.filterGlobal(search, 'contains')" placeholder="Search keyword" />
        </span>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th></th>
      <th>Nome</th>
      <th>Url</th>
      <th>Mirror</th>
      <th>Descrição</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-software>
    <tr>
      <td>
        <div class="sizes">
          <p-button label="Editar" (click)="editRecord(software)" icon="pi pi-check" styleClass="p-button-sm"></p-button>
          <p-button label="Excluir" (click)="deleteRecord(software)" class="ml-2" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"></p-button>
        </div>
      </td>
      <td><p-image [src]="server + '/files/softwares/'+ software.uuid + '/' + software.pathOfImage" alt="Image" width="100" [preview]="true"></p-image></td>
      <td>{{software.name}}</td>
      <td><a [href]="software.url" target="_blank" pButton pRipple class="p-button-link">URL</a></td>
      <td><a [href]="software.mirrorUrl" target="_blank" pButton pRipple class="p-button-link">URL</a></td>
      <td>{{software.description}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total de registros {{records ? records.length : 0 }}.
    </div>
  </ng-template>
</p-table>

<!-- Conteúdo -->

<p-dialog [(visible)]="formDisplay" [maximizable]="true" [closeOnEscape]="true" [modal]="true"
          [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
  <div class="text-center" *ngIf="loadingDialog">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="header">
    {{record.id === undefined ? 'Novo registro' : 'Alterar registro'}}
  </ng-template>
  <div *ngIf="!loadingDialog">
    <div class="field">
      <label for="name" class="block">Nome</label>
      <input id="name" type="text" style="width: 100%" aria-describedby="name-help" pInputText [(ngModel)]="record.name" />
    </div>
    <div class="field">
      <label for="description" class="block">Descrição</label>
      <input id="description" type="text" style="width: 100%" aria-describedby="description-help" pInputText [(ngModel)]="record.description" />
    </div>
    <div class="field">
      <label for="url" class="block">Url</label>
      <input id="url" type="text" style="width: 100%" aria-describedby="url-help" pInputText [(ngModel)]="record.url" />
    </div>
    <div class="field">
      <label for="mirrorUrl" class="block">Mirror</label>
      <input id="mirrorUrl" type="text" style="width: 100%" aria-describedby="mirrorUrl-help" pInputText [(ngModel)]="record.mirrorUrl" />
    </div>
    <p-fileUpload #fileUpload name="file" (onSelect)="setFile($event, fileUpload)"
                  accept="image/*" [maxFileSize]="10000000" [showUploadButton]="false" [showCancelButton]="false" [chooseLabel]="'Selecionar arquivo'">
      <ng-template pTemplate="content">
        <img *ngIf="record.id" [src]="server + '/files/softwares/'+ record.uuid + '/' + record.pathOfImageThumb" height="80" />
        <ul *ngIf="file?.target?.length">
          <li *ngFor="let file of file?.target?.files">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="footer" class="text-right">
    <button (click)="saveRecord()" pButton type="button" label="Salvar" ></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
