<p-table [value]="records">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Cursos da categoria {{courseCategory.name}}
      <div class="p-toolbar-group-right">
        <a [routerLink]="['/courses_categories']" icon="pi pi-angle-left" pButton pRipple class="mr-2" style="text-decoration: none"></a>
        <p-button (click)="createNewRecord()" icon="pi pi-plus"></p-button>
        <p-button (click)="loadReloadRecords()" class="ml-2" icon="pi pi-refresh"></p-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th></th>
      <th>Nome</th>
      <th>Escola</th>
      <th>Duração</th>
      <th>Inicio</th>
      <th>Conclusão</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course>
    <tr>
      <td>
        <div class="sizes">
          <p-button label="Editar" (click)="editRecord(course)" icon="pi pi-check" styleClass="p-button-sm"></p-button>
          <p-button label="Excluir" (click)="deleteRecord(course)" class="ml-2" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"></p-button>
        </div>
      </td>
      <td><img [src]="server + '/files/courses/'+ course.courseCategory.uuid + '/' + course.uuid + '/' + course.pathOfImageThumb" width="100" class="shadow-4" /></td>
      <td>{{course.name}}</td>
      <td>{{course.school}}</td>
      <td>{{course.duration}} h</td>
      <td>{{course.startDate | date: 'MM/yyyy'}}</td>
      <td>{{course.endDate | date: 'MM/yyyy'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total de registros {{records ? records.length : 0 }}.
    </div>
  </ng-template>
</p-table>

<!-- Conteúdo -->

<p-dialog [(visible)]="formDisplay" [maximizable]="true" [closeOnEscape]="true" [modal]="true"
          [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
  <div class="text-center" *ngIf="loadingDialog">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="header">
    {{record.id === undefined ? 'Novo registro' : 'Alterar registro'}}
  </ng-template>
  <div *ngIf="!loadingDialog">
    <div class="field">
      <label for="name" class="block">Curso</label>
      <input id="name" type="text" style="width: 100%" aria-describedby="name-help" pInputText [(ngModel)]="record.name" />
    </div>
    <div class="field">
      <label for="school" class="block">Escola</label>
      <input id="school" type="text" style="width: 100%" aria-describedby="school-help" pInputText [(ngModel)]="record.school" />
    </div>
    <div class="field">
      <label for="duration" class="block">Duração em horas</label>
      <input id="duration" type="text" style="width: 100%" aria-describedby="duration-help" pInputText [(ngModel)]="record.duration" />
    </div>
    <div class="field">
      <label for="startDate" class="block">Data de inicio</label>
      <p-calendar id="startDate" [(ngModel)]="record.startDate" dateFormat="dd/mm/yy" inputId="startDate"></p-calendar>
    </div>
    <div class="field">
      <label for="endDate" class="block">Data de conclusão</label>
      <p-calendar id="endDate" [(ngModel)]="record.endDate" dateFormat="dd/mm/yy" inputId="endDate"></p-calendar>
    </div>
    <p-fileUpload #fileUpload name="file" (onSelect)="setFile($event, fileUpload)"
                  accept="image/*" [maxFileSize]="1000000" [showUploadButton]="false" [showCancelButton]="false" [chooseLabel]="'Selecionar arquivo'">
      <ng-template pTemplate="content">
        <img *ngIf="record.id" [src]="server + '/files/courses/' + record.courseCategory.uuid + '/' + record.uuid + '/' + record.pathOfImageThumb" height="80" />
        <ul *ngIf="file?.target?.length">
          <li *ngFor="let file of file?.target?.files">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="footer" class="text-right">
    <button (click)="save()" pButton type="button" label="Salvar" ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog header="Confirma remoção ?" icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
