<p-table [value]="records">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Experiência profissional
      <div class="p-toolbar-group-right">
        <p-button (click)="createNewRecord()" icon="pi pi-plus"></p-button>
        <p-button (click)="loadReloadRecords()" class="ml-2" icon="pi pi-refresh"></p-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Função</th>
      <th>Emporesa</th>
      <th>Data de inicio</th>
      <th>Data saída</th>
      <th>Descrição</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-experience>
    <tr>
      <td>
        <div class="sizes">
          <p-button label="Editar" (click)="editRecord(experience)" icon="pi pi-check" styleClass="p-button-sm"></p-button>
          <p-button label="Excluir" (click)="deleteRecord(experience)" class="ml-2" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"></p-button>
        </div>
      </td>
      <td>{{experience.job}}</td>
      <td>{{experience.company}}</td>
      <td>{{experience.startDate | date: 'MM/yyyy'}}</td>
      <td>{{experience.endDate | date: 'MM/yyyy'}}</td>
      <td>{{experience.description}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total de registros {{records ? records.length : 0 }}.
    </div>
  </ng-template>
</p-table>

<!-- Conteúdo -->

<p-dialog [(visible)]="formDisplay" [maximizable]="true" [closeOnEscape]="true" [modal]="true"
          [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    {{record.id === undefined ? 'Novo registro' : 'Alterar registro'}}
  </ng-template>
  <div class="field">
    <label for="job" class="block">Função</label>
    <input id="job" type="text" style="width: 100%" aria-describedby="title-help" pInputText [(ngModel)]="record.job" />
  </div>
  <div class="field">
    <label for="company" class="block">Empresa</label>
    <input id="company" type="text" style="width: 100%" aria-describedby="description-help" pInputText [(ngModel)]="record.company" />
  </div>
  <div class="field">
    <label for="startDate" class="block">Data de inicio</label>
    <p-calendar id="startDate" [(ngModel)]="record.startDate" dateFormat="dd/mm/yy" inputId="startDate"></p-calendar>
  </div>
  <div class="field">
    <label for="endDate" class="block">Data fim</label>
    <p-calendar id="endDate" [(ngModel)]="record.endDate" dateFormat="dd/mm/yy" inputId="endDate"></p-calendar>
  </div>
  <div class="field">
    <span class="p-float-label mt-4">
      <textarea id="embed" style="width: 100%" [(ngModel)]="record.description" pInputTextarea></textarea>
      <label for="embed">Descrição</label>
    </span>
  </div>

  <ng-template pTemplate="footer" class="text-right">
    <button (click)="saveRecord()" pButton type="button" label="Salvar" ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog header="Confirma remoção ?" icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
