<p-table [value]="records">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Certificações
      <div class="p-toolbar-group-right">
        <p-button (click)="createNewRecord()" icon="pi pi-plus"></p-button>
        <p-button (click)="loadReloadRecords()" class="ml-2" icon="pi pi-refresh"></p-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th></th>
      <th>Nome</th>
      <th>Data</th>
      <th>Url</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-certification>
    <tr>
      <td>
        <div class="sizes">
          <p-button label="Editar" (click)="editRecord(certification)" icon="pi pi-check" styleClass="p-button-sm"></p-button>
          <p-button label="Excluir" (click)="deleteRecord(certification)" class="ml-2" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"></p-button>
        </div>
      </td>
      <td><img [src]="server + '/files/certifications/'+ certification.uuid + '/' + certification.pathOfImageThumb" width="100" class="shadow-4" /></td>
      <td>{{certification.name}}</td>
      <td>{{certification.earnDate | date: 'MM/yyyy'}}</td>
      <td><a [href]="certification.validateUrl" target="_blank" pButton pRipple class="p-button-link">URL</a></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total de registros {{records ? records.length : 0 }}.
    </div>
  </ng-template>
</p-table>

<!-- Conteúdo -->

<p-dialog [(visible)]="formDisplay" [maximizable]="true" [closeOnEscape]="true" [modal]="true"
          [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
  <div class="text-center" *ngIf="loadingDialog">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="header">
    {{record.id === undefined ? 'Novo registro' : 'Alterar registro'}}
  </ng-template>

  <div *ngIf="!loadingDialog">
    <div class="field">
      <label for="name" class="block">Nome da certificação</label>
      <input id="name" type="text" style="width: 100%" aria-describedby="name-help" pInputText [(ngModel)]="record.name" />
    </div>
    <div class="field">
      <label for="validateUrl" class="block">Url de validação</label>
      <input id="validateUrl" type="text" style="width: 100%" aria-describedby="validateUrl-help" pInputText [(ngModel)]="record.validateUrl" />
    </div>
    <div class="field">
      <label for="earnDate" class="block">Data recebida</label>
      <p-calendar id="earnDate" [(ngModel)]="record.earnDate" dateFormat="dd/mm/yy" inputId="earnDate"></p-calendar>
    </div>
    <p-fileUpload #fileUpload name="file" (onSelect)="setFile($event, fileUpload)"
                  accept="image/*" [maxFileSize]="1000000" [showUploadButton]="false" [showCancelButton]="false" [chooseLabel]="'Selecionar arquivo'">
      <ng-template pTemplate="content">
        <img *ngIf="record.id" [src]="server + '/files/certifications/'+ record.uuid + '/' + record.pathOfImageThumb" height="80" />
        <ul *ngIf="file?.target?.length">
          <li *ngFor="let file of file?.target?.files">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <ng-template *ngIf="!loadingDialog" pTemplate="footer" class="text-right">
    <button (click)="save()" pButton type="button" label="Salvar" ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog header="Confirma remoção ?" icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
